/*GLOBAL */
* {
	box-sizing: border-box;
	outline: none;
	text-decoration: none;
	transition: all .2s ease 0s;
}

*:hover {
	transition: all .2s ease 0s;
}

body {
	font-family: "Open Sans", Arial;
	margin: 0;
	line-height: 1.8;
	background-color: #fff;
	color: #c2c7ca;
	width: 100%;
}

h1, h2, h3 {
	font-weight: normal;
}

.container,
.product,
.product_detail {
	max-width: 90%;
	margin: 0 auto;
	padding: 25px;
	background-color: white;

}

/* HEADER */

header {
	background-color: #fff;
}

header nav {
	display: flex;
	justify-content: space-around;
	width: 80%;	
}

header nav a {
	padding: 25px;
	align-self: center;
	color: #1e3e4b;
	font-family: "Candal";
	font-size: 1.4em;
}

header nav a:hover .fa {
	color: #203e4d;

}

input {
	padding: 15px 50px;
	letter-spacing: 1px;
	font-size: 0.8em;
	width: 100%;
	border: 1;
	margin-top: 4%;
}
form {
	width: 50%;
}

/* MAIN */
main {
	background-color: #b6bcc0;
}

.cover_ad_list,
.cover_product_list {
	background-color: #fff;
	margin: 5%;
	border-radius: 5%;
}

section {
	width: 25%;
	display: inline-block;
	
}

#ad_list {
	margin-left: 8%;
	margin-top: 0.7%;
}

#product_list {
	width: 38%;
	vertical-align: top;
}

#ad_list nav {
	display: inline-block;
	font-size: 0.8em;
	vertical-align: top;

}

#ad_list img {
	width: 20%;
	border-radius: 50%;
	background-color: #c6dfea; 
}

#product_list .service nav div{
	display: inline-grid;
	width: 32%;
	text-align: center;
}
#product_list .service nav{
	background-color: black;
	padding: 4%;
}
#product_list .service nav img{
	margin-left: 40%;
}
#product_list .product .product_price {
	width: 30%;
}
#product_list .product {
	display: inline-flex;
}
#product_list .product img{
	width: 70%;
}
#product_list .product h1{
	text-align: center;
	font-size: 1.9em;
}
#product_list .product a{
	vertical-align: text-top;
	padding: 9%;
	background-color: #ff9900;
	border-radius: 5%;
	color: #fff;
}

/* RESPONSIVE */
@media screen and (max-width: 960px) {
	header nav a {
		padding: 15px;
	}
	#tagline {
		padding: 50px 25px;
	}
	header nav, .flex, footer nav {
		flex-direction: column;
	}
	.mutualise article,
	.dedie article,
	.cloud article {
		align-self: stretch;
	}
}
