/*GLOBAL */
* {
	box-sizing: border-box;
	outline: none;
	text-decoration: none;
	transition: all .2s ease 0s;
}

*:hover {
	transition: all .2s ease 0s;
}

body {
	font-family: "Open Sans", Arial;
	margin: 0;
	line-height: 1.8;
	background-color: #fff;
	color: #c2c7ca;
	width: 100%;
}

h1, h2, h3 {
	font-weight: normal;
}


.container {
	max-width: 90%;
	margin: 0 auto;
	padding: 25px;
	background-color: white;

}

/* HEADER */

header {
	background-color: #fff;
}

header nav {
	display: flex;
	justify-content: space-around;
	width: 80%;	
}

header nav a {
	padding: 25px;
	align-self: center;
	color: #1e3e4b;
	font-family: "Candal";
	font-size: 1.4em;
}

/* header nav a:hover {
	color: #fb8a9b;
} */

/* header nav a .fa {
	display: block;
	text-align: center;
	color: #fb8a9b;
	font-size: 1.5em;
} */

header nav a:hover .fa {
	color: #203e4d;

}

input {
	padding: 15px 50px;
	letter-spacing: 1px;
	font-size: 0.8em;
	width: 100%;
	border: 1;
	margin-top: 4%;
}
form {
	width: 50%;
}

/* MAIN */
main {
	background-color: #b6bcc0;
}

.cover_ad_list,
.cover_product_list {
	background-color: #fff;
	padding: 5%;
	margin: 5%;
}

section {
	width: 25%;
	display: inline-block;
	
}

#ad_list {
	margin-left: 8%;
	margin-top: 0.7%;
}

#product_list {
	width: 38%;
	vertical-align: top;
}

#ad_list nav {
	display: inline-block;
	font-size: 0.8em;

}

#ad_list img {
	width: 30%;
	border-radius: 50%;
	background-color: #c6dfea; 
}

#product_list nav {
	border: 1px;
	border-color: black;
}

.flex {
	display: flex;
	flex-direction: row;
}

.host {
	padding: 15px;
}

.host h3 {
	font-family: "Candal", Arial;
	text-align: center;
	font-size: 1.2em;
	color: #fb8a9b;
	padding: 10px 0 0;
}

.host i {
	display: block;
	text-align: center;
	font-size: 3em;
	color: #fb8a9b;
	margin: 25px 0 0;
}

.prix {
	text-align: center;
	font-weight: bold;
	font-size: 1.4em;
	color: #fb8a9b;
}


/* RESPONSIVE */
@media screen and (max-width: 960px) {
	header nav a {
		padding: 15px;
	}
	#tagline {
		padding: 50px 25px;
	}
	header nav, .flex, footer nav {
		flex-direction: column;
	}
	.mutualise article,
	.dedie article,
	.cloud article {
		align-self: stretch;
	}
}
